<!DOCTYPE settings SYSTEM 'settings.dtd'>
<settings>
  <settings>
    <setting id="scale_factor">4</setting>
  </settings>
  <bindings>
    <unbind key="keyb F9"/>
  </bindings>
  <shortcuts>
    <item key="Ctrl+G">GotoMemoryAddress</item>
    <item>GotoDisasmAddress</item>
  </shortcuts>
</settings>
